<div class = "wrapper content-training">
	<div class = "main-content">
		<div class = "row">
			<div class = "col-xs-offset-1 col-xs-11">
				Dane o treningu:
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-offset-1 col-xs-2">
				Data:
			</div>
			<div class = "col-xs-9">
				<%= @training.date %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-offset-1 col-xs-2">
				Komentarz:
			</div>
			<div class = "col-xs-9">
				<%= simple_format @training.comment %>
			</div>
		</div>

		<div style = "font-weight: bold", class = "row sections-font cent medium-margin-top">
			<div class = "col-xs-offset-2 col-xs-2">
				Odcinek:
			</div>
			<div class = "col-xs-2">
				Czas:
			</div>
			<div class = "col-xs-2">
				Przerwa:
			</div>
		</div>

		<% $i = 1 %>
		<% @sections.each do |s| %>

		<div class = "row sections-font cent ">
			<div class = "col-xs-offset-1 col-xs-1 ">
				<%= $i %>.
			</div>
			<div class = "col-xs-2 ">
				<%= s.length.to_s %>
			</div>
			<div class = "col-xs-2">
				<%= s.time %>
			</div>
			<div class = "col-xs-2">
				<%= s.break %>
			</div>

			<div style="float: left" class = "col-xs-2 form-inline dinline">
				<div style="float: left">
					<%= button_to "", {:controller => 'sections', :action => 'remove_section', :id => s.id}, data: { confirm: "Na pewno?" } , class: "btn btn-danger small-rect remove-button" %>
				</div>
				<% if $i > 1%>
				<div style="float: left">
					<%= button_to "", {:controller => 'sections', :action => 'move_up', :id => s.id}, class: "btn btn-info small-rect move-up-button" %>
				</div>
				<% end %>
			</div>

		</div>
		<% $i+=1 %>
		<% end %>

		<div class = "row cent">
			<%= form_for :section, :url => url_for(:controller => 'sections', :action => 'add'), method: :post do |s| %>
			<div style = "padding-top: 3px" class="col-xs-offset-2 col-xs-2">
				<%= s.number_field :length, :size => 15 %>
			</div>
			<div style = "padding-top: 3px" class="col-xs-2">
				<%= s.text_field :time, :size => 15 %>
			</div>
			<div style = "padding-top: 3px" class="col-xs-2">
				<%= s.text_field :break, :size => 15 %>
			</div>
			<div class="actions col-xs-2">

				<%= s.hidden_field :sequence, :value => @athlete.last_section_sequence(@athlete.get_at(@training.id, @athlete.id)) %>
				<%= s.hidden_field :atraining_id, :value => @athlete.get_at(@training.id, @athlete.id).id %>
				<%= s.hidden_field :training_id, :value => @training.id %>

				<%= s.submit "Dodaj odcinek", class: "btn btn-success" %>
			</div>
			<% end %>
		</div>

	</div>
</div>

