<div class = "wrapper content-training">

	<div class = "main-content">

		<h3>Dodaj nowy trening: </h3></br>
		<%= form_for :training, url: trainings_add_training_path, method: :post do |f| %>
		<div class="form-group row">
			<%= f.label 'Data', class: "col-xs-4 control-label right" %>
			<div class="col-xs-8">
				<%= f.date_select :date %>
			</div>
		</div>
		<div class="form-group row">
			<%= f.label 'Rodzaj', class: "col-xs-4 control-label right" %>
			<div class="col-xs-8">
				<%= f.select :training_type, @types, :selected => 0, class: "form-control " %>
			</div>
		</div>
		<div class="form-group row">
			<%= f.label 'Komentarz', class: "col-xs-4 control-label right" %>
			<div class="col-xs-8">
				<%= f.text_area :comment %>
			</div>
		</div>
		<% if user_type == "A" %>
			<%= f.hidden_field :trainer_id, :value => current_user.trainer.id %>
			<% else %>
			<%= f.hidden_field :trainer_id, :value => current_user.id %>
			<% end %>
		<% if can? :add_training, @training %> 
		<div class = "row cent">
			<%= f.submit "Dodaj trening", class: "btn btn-success"%>
		</div>
		<% end %>
		<% end %>

		</br>
	</div>
</div>