<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= favicon_link_tag 'athlete.ico' %>
		<title>OTJ</title>
	</head>
	<body>
		<section id="page">
			<header id="header" class="header">
				<div class="wrapper">
					<div class = "logo">
						<a href="<%= root_path %>"> <%= image_tag 'otd.png',:title => 'LOGO' %> </a>
					</div>
					<div id='cssmenu'>
						<ul>
							<li class='active'>
								<a href='<%= root_path %>'><span>Home</span></a>
							</li>
							<li>
								<span><%= link_to "O stronie", :controller => "home", :action => "about"%></span></a>
							</li>							
							<li>
								<span><%= link_to "Dzienniczek treningowy", :controller => "athletes", :action => "athletes_list" %></span></a>
							</li>
							<% if user_signed_in? %>
							<% if can? :add_training, @training %>												
							<li>
								<span><%= link_to "Dodaj trening", :controller => "trainings", :action => "new_training" %></span></a>
							</li>
							<% end %>
							<li>
								<a href='<%= auth_sign_out_path %>'><span>Wyloguj</span></a>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</header>
			<div class="wrapper" id="flash-messages">
				<%= render "partials/flash_box" %>
			</div>
