<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<section id="page">
			<header id="header" class="header">
				<div class="wrapper">
					<div class = "logo">
					<a href="<%= root_path %>"> <%= image_tag 'otd.png',:title => 'LOGO' %> </a>
					</div>
				</div>
			</header>
			<div class="wrapper" id="flash-messages">
				<%= render "partials/flash_box" %>
			</div>
