<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @group.quantity %>
</p>

<p>
  <strong>Zawodnicy:</strong> </br>
  <% @athletes.each do |a| %>
  <%= a.name + " "+ a.surname %> </br>
  <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
