<h1>Listing athletes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth</th>
      <th>Email</th>
      <th>Password</th>
      <th>State</th>
      <th>Privacy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.name %></td>
        <td><%= athlete.surname %></td>
        <td><%= athlete.birth %></td>
        <td><%= athlete.email %></td>
        <td><%= athlete.password %></td>
        <td><%= athlete.state %></td>
        <td><%= athlete.privacy %></td>
        <td><%= link_to 'Show', athlete %></td>
        <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
        <td><%= link_to 'Destroy', athlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Athlete', new_athlete_path %>
